.companie {
  position: relative;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 24px;
}
.companie .top img {
width: 102.436px;
  height: 178px;
}
.companie .top .rate_content {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 9px;
}
.companie .top {
  display: flex;
  align-items: center;
  gap: 40px;
}

.companie .top .popular_featured {
  position: absolute;
  top: 14px;
  right: 11px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.companie .top .popular_featured .popular,
.companie .top .popular_featured .featured {
  color: #fff;
  text-align: center;
  font-family: Noto Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 2px 8px;
}
.companie .top .popular_featured .popular {
  background: #7ede2c;
}

.companie .top .popular_featured .featured {
  background: #e0294a;
}
.companie .top .svg svg {
  width: 17px;
  height: 17px;
}
.companie .top .svg {
  display: flex;
  align-items: center;
  gap: 6px;
}
.companie .top .rate {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.39px;
}
.companie .line {
  margin: 0 31px;
  background: #e5e5e5;
  height: 1px;
}
.companie .bottom {
  padding-inline: 31px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.companie .adress {
  display: flex;
  gap: 15px;
}

.companie .adress span {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.39px;
  width: 291px;
  height: 34px;
}
.companie .telephone {
  display: flex;
  gap: 15px;
}

.companie .telephone span {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.39px;
  width: 291px;
}
.bottom .local_move span,
.bottom .local_move select {
  color: #06965c;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.39px;
  border: none;
  outline: none;
}
.bottom .local_move {
  margin-top: 19px;
  display: flex;
  align-items: center;
  gap: 14px;
}
@media screen and (max-width: 600px) {
  .top_companies .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .companie{
    width: 100%;
    height: 343px;
    flex-shrink: 0;
    padding: 24px;
  }
  .companie .top h1{
    font-size: 18px;
  }
  .companie .top {
    gap: 10px;
    height: 158px;
  }
  .companie .top img {
    width: 102.436px;
      height: 178px;
    }
    .home .content_services .container .list {
      height: 328px;
      overflow: hidden;
      align-items: center;
  }
}
