.rev {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: #fff;
  width: 436px;
  height: 343px;
  flex-shrink: 0;
  padding: 31px;
}
.rev .rev_top {
  display: flex;
  gap: 50px;
}
.rev .image {
  width: 97px;
  height: 97px;
  border-radius: 5px;
  background: #f9f9f9;
}
.rev .information h1 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
}
.rev .information p {
  color: #06965C;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.39px;
margin-top: 4px;
}
.rev .information .rate{
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 12px;
}
.rev .information .rate span{
  color: #000;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.39px;
}
.rev .line{
  margin-top: 28px;
  background: #E5E5E5;
  height: 1px;
}
.rev .rev_bottom p{
color: #000;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.39px;
}
.rev .rev_bottom{
  display: flex;
  gap: 19.43px;
  margin-top: 22px;
}
.rev .rev_bottom svg{
  width: 14.573px;
height: 13px;
flex-shrink: 0;
}
.rev .date{
  color: #9C9C9C;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.39px;
  margin-top: 21px;
  margin-left: 34px;
}