
.show_more {
    height: 68px;
    width: 100%;
    border-radius: 5px;
    background: #f9f9f9;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
  }
 .show_more span {
    color: #272930;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }